In [209]:
import numpy as np
import pandas as pd

In [210]:
df = pd.read_csv("test-task_dataset_summer_products.csv")
df.head()

,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,EUR,100,0,3.76,54,26.0,...,568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.00,22,EUR,20000,1,3.45,6135,2269.0,...,17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08
2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,2020 New Arrival Women Spring and Summer Beach...,8.00,43,EUR,100,0,3.57,14,5.0,...,295,3.989831,5d464a1ffdf7bc44ee933c65,0,NaN,https://www.wish.com/c/5ea10e2c617580260d55310a,https://contestimg.wish.com/api/webimage/5ea10...,5ea10e2c617580260d55310a,summer,2020-08
3,Hot Summer Cool T-shirt pour les femmes Mode T...,Hot Summer Cool T Shirt for Women Fashion Tops...,8.00,8,EUR,5000,1,4.03,579,295.0,...,23832,4.020435,58cfdefdacb37b556efdff7c,0,NaN,https://www.wish.com/c/5cedf17ad1d44c52c59e4aca,https://contestimg.wish.com/api/webimage/5cedf...,5cedf17ad1d44c52c59e4aca,summer,2020-08
4,Femmes Shorts d'été à lacets taille élastique ...,Women Summer Shorts Lace Up Elastic Waistband ...,2.72,3,EUR,100,1,3.10,20,6.0,...,14482,4.001588,5ab3b592c3911a095ad5dadb,0,NaN,https://www.wish.com/c/5ebf5819ebac372b070b0e70,https://contestimg.wish.com/api/webimage/5ebf5...,5ebf5819ebac372b070b0e70,summer,2020-08

In [211]:
meanprice_all_products_foreach_country = df.groupby(['origin_country']).mean()
mean_all_products_foreach_country

,price,retail_price,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,...,badge_fast_shipping,product_variation_inventory,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,has_urgency_banner,merchant_rating_count,merchant_rating,merchant_has_profile_picture
origin_country,,,,,,,,,,,,,,,,,,,,,
AT,7.000000,6.000000,100.000000,0.000000,5.000000,0.000000,NaN,NaN,NaN,NaN,...,0.000000,50.000000,2.000000,0.000000,140.000000,50.000000,NaN,0.000000,5.000000,0.000000
CN,8.341629,23.294195,4387.364776,0.432058,3.825343,899.473615,449.311141,181.937500,135.375679,63.758152,...,0.012533,33.180079,2.352902,0.002639,40.254617,49.814644,1.0,24989.861478,4.034729,0.145119
GB,9.000000,8.000000,1000.000000,1.000000,4.030000,248.000000,127.000000,59.000000,26.000000,15.000000,...,0.000000,2.000000,3.000000,0.000000,45.000000,50.000000,NaN,1722.000000,3.906504,0.000000
SG,3.380000,3.500000,10050.000000,1.000000,4.010000,876.000000,369.500000,162.000000,132.000000,73.500000,...,0.000000,8.000000,1.000000,0.000000,20.000000,50.000000,1.0,3791.000000,3.918755,0.000000
US,9.397097,29.612903,1405.161290,0.451613,3.800000,258.645161,128.225806,50.516129,35.387097,17.806452,...,0.032258,34.451613,2.516129,0.000000,49.451613,50.000000,1.0,4266.903226,4.022634,0.000000
VE,8.298000,35.400000,70.000000,1.000000,2.688000,8.400000,4.000000,0.600000,0.800000,1.600000,...,0.000000,21.800000,1.800000,0.000000,36.800000,50.000000,1.0,257.800000,3.771094,0.000000

In [212]:
mean_products_by_country = df.groupby(['origin_country'], as_index=False)[['price']].mean().sort_values('origin_country')
mean_products_by_country

  origin_country     price
0             AT  7.000000
1             CN  8.341629
2             GB  9.000000
3             SG  3.380000
4             US  9.397097
5             VE  8.298000

In [213]:
mean_each_product_by_country = df.groupby(['origin_country','product_id'], as_index=False)[['price']].mean().sort_values('origin_country')
mean_each_product_by_country

     origin_country                product_id  price
0                AT  5f01c514792d0b94d29d0cb6   7.00
869              CN  5e5f5289a950c34147f0d94b  12.00
868              CN  5e5f507c931bd44190563aa1   2.00
867              CN  5e5e09065b03ef0b420f333f   1.74
866              CN  5e5cb06e8ac7c478f8cc2cb5   8.00
...             ...                       ...    ...
1298             US  58eeefc901ba331d47ca05d8   4.00
1311             US  5d82f2852a8c735a7daa3e55   6.00
1326             VE  5eba38a9d0c9a464e4490d20  16.00
1325             VE  5ddf65d292bf935981e0eaa7  11.00
1327             VE  5ee8875404718a4bba2d6348   4.83

[1328 rows x 3 columns]

In [229]:
df1 = df.groupby(['origin_country'], as_index=False
                ).agg({'price': 'mean',
                       'rating_five_count': lambda x: x.sum(),
                       'rating_count':lambda x: x.sum()}
                     ).sort_values('origin_country').replace(0, np.nan)
#df1

In [219]:
df2 = df1.dropna().assign(five_percentage=lambda x: ( x['rating_five_count'] / x['rating_count']) *100 )
df2.drop(['rating_five_count', 'rating_count'], axis='columns', inplace=True)

In [220]:
df2  #SQL Representation select avg(price), (sum(rating_five_count) / sum(rating_count)) * 100 as five_percentage, origin_country
#from summer_products
#group by origin_country
#order by origin_country

  origin_country     price  five_percentage
1             CN  8.341629        48.502862
2             GB  9.000000        51.209677
3             SG  3.380000        42.180365
4             US  9.397097        49.575954
5             VE  8.298000        47.619048

In [226]:
df3 = df.groupby(['origin_country','product_id'], as_index=False
                ).agg({'price': 'mean',
                       'rating_five_count':'sum',
                      'rating_count':'sum'}).sort_values('origin_country').replace(0, np.nan)

In [227]:
df4 = df3.dropna().assign(five_percentage=lambda x: ( x['rating_five_count'] / x['rating_count']) *100 )
df4.drop(['rating_five_count', 'rating_count'], axis='columns', inplace=True)

In [228]:
df4

     origin_country                product_id  price  five_percentage
869              CN  5e5f5289a950c34147f0d94b  12.00        48.837209
868              CN  5e5f507c931bd44190563aa1   2.00        57.342657
867              CN  5e5e09065b03ef0b420f333f   1.74        58.333333
866              CN  5e5cb06e8ac7c478f8cc2cb5   8.00        43.694690
865              CN  5e5cae2fa25ca51880cf47ef   7.00        43.478261
...             ...                       ...    ...              ...
1299             US  5a35a744daa5c76df424c228  13.00        44.566210
1298             US  58eeefc901ba331d47ca05d8   4.00        64.242424
1311             US  5d82f2852a8c735a7daa3e55   6.00        44.359465
1326             VE  5eba38a9d0c9a464e4490d20  16.00        48.148148
1325             VE  5ddf65d292bf935981e0eaa7  11.00        58.333333

[1276 rows x 4 columns]